[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ss]hards of [Ss]alvation/
[Ss]hard of [Ss]alvation/
[Ll]ogs/
UserSettings/
MemoryCaptures/
*.csproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
.vscode/
.idea/